h1{
    font-size: 3rem;
    text-align: center;
    background-color: rgb(47, 166, 235);
    color: white;
}
hr{
    background-color: rgb(73, 73, 255);
    height: 1px;

}
.button1{
    border: none;
    width: 60px;
    height: 50px;
    font-size: 1.3rem;
    margin-right: 1%;
    border-radius: 5px;
    margin: 7px;
    cursor: pointer;
    color: white;
    
}
.button2{
    width: 70px;
    height: 40px;
    margin-top: 12px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

}
.button3{
    width: 60px;
    height: 50px;
    margin: 7px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;

    cursor: pointer;

}
.black{
color: black;
}
.premier{
    display: flex;
}
.deuxieme{
    display: flex;
}
.inputColor{
    height: 35px;
    width: 200px;
    margin-top: 23px;
    cursor: pointer;
}
.btnBorder{
    width: 70px;
    height: 45px;
    background-color: white;
    border: 0.1rem solid lightgray;
    cursor: pointer;
}
.troisieme{
    display: flex;
}
.inputRadius{
    width: 90px;
    height: 45px;
    background-color: white;
    border: 0.2rem solid gray;
    margin: 10px;
}
.clearAll{
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(125, 219, 125);
    color: red;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15%;
}
*{
    margin: 2%;
}
body{
    height: 100vh;
}
.blanc{
    background-color: rgb(214, 212, 212);
}
.rouge{
    background-color: red;
}
.vert{
    background-color: green;
}
.bleu{
    background-color: blue;
}

.sld{
    border: 4px solid black;
}
.dsd{
    border: 3px dashed black;
}
.sldPetit{
    border: 1px solid black;
}

.top2{
    border-top: solid 2px red;
    background-color: white;
}
.top5{
    border-top: solid 5px red;
    background-color: white;
}
.top8{
    border-top: solid 8px red;
    background-color: white;
}
.Haut{
    border-top: 5px solid black;
}
.Gauche{
    border-left: 5px solid black;
}
.Droite{
    border-right: 5px solid black;
}
.Bas{
    border-bottom: 5px solid black;
}

.basDroite{
    border-bottom: none;
    border-right: none;
}
.basGauche{
    border-bottom: none;
    border-left: none;
}
.hautGauche{
    border-top: none;
    border-left: none;
}
.hautDroite{
    border-top: none;
    border-right: none;
}

.visuel{
    height: 150px; 
    width: 450px; 
    border: solid 1px lightgray; 
    margin-top: 30px;
}
